body {
    margin: 0;
    font-family: 'Noto Sans TC';
    box-sizing: border-box;
}

$main-color: #3d313f;
$secondary-color:white;
$nav-color:black;
$nav-font-color:white;
h2 {
    margin: 0;

}


h1 {
    font-size: 18px;
    margin: 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

li {}

ol {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;

    li {
        padding: 10px 30px;
        text-align: center;
        flex: 1;
        line-height: 60px;
    }
}
a{
    &:hover{
        text-decoration: none;
    }
}
// 箭頭style 調高
.svg-inline--fa {
    height: 50px;

}

// 箭頭style 調寬
.svg-inline--fa.fa-w-16 {
    width: 50px;
}

// 公告箭頭style
.svg-inline--fa.fa-w-6 {
    width: 10px;
}






























nav {
    height: 70px;
    width: 100%;
    background-color: $nav-color;
    display: flex;
    align-items: center;
    padding-left: 120px;
    justify-content: space-between;
    .logo {

        display: flex;
        align-items: center;
        color: white;

        min-width: 114px;

        svg {
            width: 40px;
            color: white;
        }

        h2 {
            padding: 0 5px;
        }
    }

    .nav-title {
        flex-grow: 1;
        ul {
            color: white;
            font-size: 18px;
            display: flex;
            li{
                padding: 0 10px;
                a{
                    color:$nav-font-color;
                    &:hover{
                        text-decoration: none;
                    }
                }
                h1{
                    font-size:16px
                }
                h2{
                    font-size: 12px;
                }
            }
        }
    }

    .timetable {
        width: 150px;
        height: 32px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            color: black;
            text-decoration: none;
        }

        h3 {
            font-size: 24px;

        }
    }

    .fb {
        height: 32px;
        

        img {
            max-height: 100%;
        }
    }

    .ig {
        height: 32px;
        padding-left: 20px;;

        img {
            max-height: 100%;
        }
    }

}

.banner {
    position: relative;
    background-image: url('../img/banner-4.jpg');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;

    background-size: cover;
    overflow: hidden;

    .timetable {
        color: white;
        background-color: $main-color;
        position: absolute;
        right: 0px;
        padding: 10px 60px;
        bottom: 200px;

        .h3 {
            font-size: 36px;
        }
    }
}

.aboutUs {
    background-color: $main-color;

    .aboutUs-title {
        h2 {
            color: white;
        }
    }

    .aboutUs-content {

        .contentBrand {
            position: relative;
            // width: 49%;

            img {

                max-width: 100%;
                max-height: 100%;
            }

            button {
                position: absolute;
                left: 5%;
                top: 85%;
                width: 90%;
                opacity: 0.7;
            }
        }

        .contentHistory {
            position: relative;
            // width: 49%;

            img {
                position: relative;
                max-width: 100%;
                max-height: 100%;
            }

            button {
                position: absolute;
                left: 5%;
                top: 85%;
                width: 90%;
                opacity: 0.7;
            }
        }
    }
}


.classIntroduction {
    .container {

        .classIntroduction-title {
            text-align: center;
            font-size: 36px;
        }

        .classcontainer {
            .carousel {

                .col-2 {
                    padding: 0;
                    .btn{
                        font-size: 24px;
                        line-height: 60px;
                        ;
                    }
                }

                .col-10 {}

                .class-btn {}

                .carousel-inner {
                    .carousel-item {
                        img {
                            width: 100%;
                            height: 380px;
                            max-width: 100%;
                            max-height: 380px;
                            padding-bottom: 10px;
                        }

                        .col-9 {
                            padding: 0;
                        }

                        p {
                            font-size: 18px;
                            letter-spacing: 2px;
                        }

                        .carousel-control-prev {
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}

.curriculum {
    background-image: url(../img/cur-background.jpg);

    .container {
        position: relative;

        .curriculum-card {
            .curriculum-img {
                img {
                    max-width: 100%;
                    min-height: 250px;
                }

            }

            .curriculum-title {
                background-color: gray;
            }
        }
    }

    .curriculum-arrow-right {
        width: auto;
        left: -4%;
    }

    .curriculum-arrow-left {
        width: auto;
        right: -4%;
    }
}

.news {
    background-color: $main-color;
    color: white;

    .news-kinds {
        .btn {
            font-size: 1.75rem;
        }
    }

    .news-content {
        .news-date {
            line-height: 50px;
        }

        .news-main {
            line-height: 50px;
        }
    }
}

.charge {
    color: white;
    

    .charge-title {
        color: black;
    }

    .charge-content {
        width: 100%;
        height: 50vh;
        position: relative;

        .col-6 {
            padding: 0 30px;

            .ch-more {
                display: none;
            }

            .postit {
                position: absolute;
                bottom: 10%;
                left: 45%;
                letter-spacing: 10px;
            }
        }

        .charge-content-cost {
            padding-left: 0;

            .cost-bg {
                background-image: url('../img/charge-cost.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 100%;
            }
        }

        .charge-content-member {
            padding-right: 0;

            .cost-bg2 {
                background-image: url('../img/charge-member.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 100%;
            }
        }


    }
}

.gymCoach {
    background-color: $main-color;
    color: white;

    .container {
        .gymCoach-kinds {
            .kind {
                padding: 10px 20px;
                border: 2px solid white;
                margin: 0 10px;
            }
        }
    }
}

.memberWitness {
    background-image: url("../img/training-828732_1920.jpg");
    background-size: cover;
    background-position: top;
    .swiper-container {
        .swiper-wrapper {
            .swiper-slide-active {
                width: 50%;
            }

            .swiper-slide-prev {
                width: 25%;
            }

            .swiper-slide-next {
                width: 25%;
            }
        }
    }
}

.fitnessProducts{
    .container{
        .fitnessProducts-content{
            
            position: relative;
            padding-top: 30px;
            .mask{
                height: 40px;
                width: 100%;
                background-color: rgba($color: black, $alpha: 0.2);
                .card-title{                    
                    font-size: 18px;
                    color:black;
                    margin: 0;
                }
                .card-more{
                    font-size: 18px;
                    display: none;
                }
            }
            
        }
    }
}

.stronghold {
    padding: 30px 0;
    .container {
        .stronghold-main {
            .stronghold-main-map {
                width: 38%;
                height: 40vh;
                background-color: cadetblue;
                position: relative;

                .stronghold-main-btn {
                    border: 2px solid $main-color;

                    position: absolute;
                    right: 10%;
                    bottom: 5%;
                }
            }

            .stronghold-main-picture {
                width: 61%;
                height: 40vh;
                background-image: url("../img/15205059851.博愛廠.jpg");
                background-position: center;
                background-size: cover;
            }
        }
    }
}



.footer-content {
    background-color: $main-color;

    .footer-logo {
        width: 100px;

        .fb {
            img {
                height: 40px;
            }
        }

        .ig {
            img {
                height: 40px;
            }
        }
    }

    .footer-copyright {
        color: white;
    }
}